body {    
    background: linear-gradient(to right, yellow, orange);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header, h2 {
    text-align: center;    
}

header {
    background: linear-gradient(to right, blue, darkblue);
    color: #fff;    
    font-size: 1.5rem;
    font-weight: bold;    
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    margin-top: 0px;
}

h2 {
    background: linear-gradient(to right, lightgreen, yellowgreen);
    color: solid black;    
    font-size: 1.5rem;
}

ul, ol {    
    line-height: 150%;
    font-size: 0.9rem;   
}
figcaption {
    font-size: 0.6rem;
}

footer {
    background: linear-gradient(to right, orange, yellow, red);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}